html,body{
    height: 100%;
}

.left{
    float: left;
}

.right{
    float:right;
}

#leftblock{
    width: 75%;
    height: 100%;
}

#rightblock{
    width:25%;
    height: 100%;
}

.header{
    background-color: antiquewhite;
    height: auto;
    width: 100%;
    border: sienna solid;
}

#title{
    font-size: 300%;
    font-family: fantasy;
}

.list{
    width: 20%;
    height: 100%;
    border: sienna solid;
    background-color: antiquewhite;
}

.sidebutton{
    background-color: antiquewhite;
    height: 75px;
    border-bottom: sienna solid;
    margin: auto;
    line-height: 75px;
    text-align: center;
    width: 100%;
    float: left;
    clear: both;
}

.sideword{
    font-size:250%;
    font-family: fantasy;
}

a.sidebutton:visited{
    color:black;
    text-decoration: none;
}

a.sidebutton:link{
    color:black;
    text-decoration: none;
}

a.sidebutton:hover{
    color:red;
    text-decoration: none;
}

a.sidebutton:active{
    text-decoration: none;
}

#contentbox{
    width: 79%;
}

.ranking{
    background-color: wheat;
    border: sienna solid;
    height: 120%;
    width: 100%;
}

@media screen and (max-width:760px) {
    .sidebutton{
        background-color: antiquewhite;
        height: 75px;   
        border-right: sienna solid;
        margin: auto;
        line-height: 75px;
        text-align: center;
        width: 24%;
        float: left;
        clear: none;
    }

    #contentbox{
        float: right;
        width: 100%;
    }

    .list{
        width: 100%;
        height: auto;
        border:sienna solid;
    }
}

.bgcolor{
    background-color: rgb(243, 239, 233);
} 
