html,body{
    height: 100%;
    width: auto;
}

.bgcolor{
    background-color: rgb(243, 239, 233);
} 

.left{
    float: left;
}

.right{
    float:right;
}

#leftblock{
    width: 75%;
    height: 100%;
}

#rightblock{
    text-align: center;
    width:25%;
    height: 100%;
}

.header{
    background-color: antiquewhite;
    height: auto;
    width: 100%;
    border: sienna solid;
    text-align: center;
}

#title{
    font-size: 300%;
    font-family: fantasy;
}

.list{
    width: 20%;
    height: 100%;
    border: sienna solid;
    background-color: antiquewhite;
}

.sidebutton{
    background-color: antiquewhite;
    height: 75px;  
    margin: auto;
    line-height: 75px;
    text-align: center;
    width: 100%;
    float: left;
    clear: both;
}

.insidebutton{
    width: 100%;
    position: relative;
    border-bottom: sienna solid;
    height: 73px;
}

.sideword{
    font-size:250%;
    font-family: fantasy;
}

a.sideword:visited{
    color:black;
    text-decoration: none;
}

a.sideword:link{
    color:black;
    text-decoration: none;
}

a.sideword:hover{
    color:red;
    text-decoration: none;
}

a.sideword:active{
    text-decoration: none;
}

#contentbox{
    width: 79%;
    height: 100%;
}

.ranking{
    background-color: wheat;
    border: sienna solid;
    height: 120%;
    width: 100%;
}

@media screen and (max-width:760px) {
    .sidebutton{
        background-color: antiquewhite;
        height: 75px;   
        margin: auto;
        line-height: 75px;
        text-align: center;
        width: 20%;
        float: left;
        clear: none;
    }

    .insidebutton{
        border-right: sienna solid;
        position: relative;
        right:1px;
    }

    .sideword{
        font-size:150%;
        font-family: fantasy;
    }

    #contentbox{
        float: right;
        width: 100%;
        height: 100%;
    }

    .list{
        width: 100%;
        height: auto;
        border:sienna solid;
    }

    #leftblock{
        width: 100%;
    }

    #rightblock{
        display:none;
    }
}

@media screen and (max-width:400px) {
    .sidebutton{
        background-color: antiquewhite;
        height: 75px;   
        margin: auto;
        line-height: 75px;
        text-align: center;
        width: 25%;
        float: left;
        clear: none;
    }

    .insidebutton{
        border-right: sienna solid;
        position: relative;
        right:1px;
    }

    .sideword{
        font-size:150%;
        font-family: fantasy;
    }

    #contentbox{
        float: right;
        width: 100%;
        height: 100%;
    }

    .list{
        width: 100%;
        height: auto;
        border:sienna solid;
    }

    #home{
        display: none;
    }

    #leftblock{
        width: 100%;
    }

    #rightblock{
        display:none;
    }
}